*{
    margin: 0;
    padding: 0;
}


header{
   background-color: pink;
   width: 100%;
    height: 15vw;
}

header h1{
    text-align: center;
    color: aliceblue;
    font-size: 10vw;
    
}

main{
    width: 100%;
    height: 50vw;
    display: block;
    float: left;
    background-color: rgb(199, 138, 158);
    margin-top: 20px;
}